DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fastapi
DATABASE_URL_DOCKER=postgresql://postgres:postgres@postgres:5432/fastapi
SECRET_KEY=secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60 
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fastapi